@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #24234C;
  --primary: #5653FE;
  --muted: #4F5B76;
  --success: #00B67A;
  --offwhite: #F9FAFB;
  --border: #E3E3E3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-success: var(--success);
  --color-offwhite: var(--offwhite);
  --color-border: var(--border);
  --color-brand-indigo: #5A4FCF;
  --font-sans: 'Inter', 'Inter Fallback', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', 'Inter Fallback', sans-serif;
}
